target/
.idea/
.idea_modules/
felix-cache*
.DS_store
main/src/main/resources/firehose.conf
_mb*/
.history
*.swp
*.iml
logs/
.vagrant/
install-scripts/*.sh
install-scripts/**/*.xml
.cache
.classpath
.project
.settings/
.target/
eclipsebin/
*.log
